<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: baseHeader(~{::title},~{::link})">

    <title>Getting Started: Serving Web Content</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link/>
</head>
<body>
<div th:replace="base :: navbar()"/>

<div class="container">
    <div class="card m-4">

        <div class="card-body">
            <div class="row">

                <div class="col-sm-2"></div>
                <div class="col-md-auto">
                    <h2>Status: [[${status}]]</h2>
                    <h3>Настроено монет\спотов: [[${tradeSettingsCount}]]</h3>
                    <h3>Сейчас торгуется монет\спотов: [[${runnableEngineCount}]]</h3>
                    <form class="row" id="form_id" method="post">
                        <button class="btn btn-primary col-sm m-1" onclick="changeAction('/control_panel/start')">
                            Start
                        </button>
                        <button class="btn btn-primary col-sm m-1" onclick="changeAction('/control_panel/stop')">
                            Stop
                        </button>
                    </form>
                </div>
                <div class="col-sm-2"></div>
            </div>




        </div>
    </div>


</div>

<script th:src="@{/static/js/send.js}"></script>
</body>
</html>