<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: baseHeader(~{::title},~{::link})">

    <title>TradeBot</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link/>
</head>
<body>
    <div th:replace="base :: navbar()"/>
    <div class="container">
        <div class="card m-4">
            <div class="card-body">
                <div class="">
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>